In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pathlib import Path

/Users/unger/dev/src/mountaineersdata/env/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [3]:
class FileCols(object):
	# Class holds information about a file.
	def __init__(self, allCols, dateCols, intCols, dropCols):
		self.allCols = allCols
		self.dateCols = dateCols
		self.intCols = intCols
		self.dropCols = dropCols

	@property 
	def colTypeMap(self):
		tm = {}
		for n in self.allCols:
			if not n in self.dateCols:
				if n in self.intCols:
					tm[n] = int
				else:
					tm[n] = str
		return tm

	@property
	def fixnaCols(self):
		# A list of columns where empty values should be changed to empty string
		return [ n for n in self.allCols if n not in self.dropCols and n not in self.dateCols ]

DataDirectory = Path(Path.home(), "Documents/mountaineers/kayak-seattle/data/paddleractivity")

# Define contents of our two data files
# Roster contains a roster of graduated students.
RosterFile = FileCols([ "First Name", "Last Name", "Email", "Registration Status", "Course Position", "Graduation Date" ],
								[ "Graduation Date"] , [], ["Graduation Date"])
# Activity contains a list of graduate's subsequent activities
ActivityFile = FileCols([ "First Name", "Last Name", "Email", "Course Title", "Activity Title", "Activity Category", "Activity Type", "Activity Start Date", "Activity End Date", "Activity Result", "Activity Participant Registration Status", "Activity Participant Result" ],
								["Activity Start Date", "Activity End Date"], [], [ "Activity Result", "Activity Participant Result"])

EquivRosterFileBase = "Seattle Equivalency"
EquivActivityFileBase = "Seattle Equivalency Activity"
EquivDates = [ 2015, 2016, 2021 ]

BasicRosterFileBase = "Seattle Basic"
BasicActivityFileBase = "Seattle Basic Activity"
BasicDates = [ 2015, 2016, 2017, 2018, 2019, 2021 ]

# Types of activities we count.  Exclude field trips, lectures, and seminars. 
ActivityTypeList = [ "Trip", "Clinic" ]

In [7]:
def LoadData (dataDirectory, rosterFileBase, rosterCols: FileCols, activityFileBase, activityCols: FileCols, paddlerType, dateList, activityTypeList):
	roster = None
	activity = None
	for date in dateList:
		#
		# Load the roster
		#
		fileName = f"{rosterFileBase} {date}.csv"
		print (f"++++ {fileName} ++++")
		filePath = Path(dataDirectory, fileName)
		ctm = rosterCols.colTypeMap
		r = pd.read_csv(filePath, usecols=rosterCols.allCols, parse_dates=rosterCols.dateCols, dtype=ctm)
		r.info()
		# Drop people who did not graduate
		r = r[r["Course Position"].isin(["Graduate", "Equivalent"])]

		# Fix columns that should contain empty string, not NaN and drop rows that still have NaN
		for n in rosterCols.fixnaCols:
			r[n].fillna('')
		r.dropna(inplace=True)


		if roster is None:
			roster = r
		else:
			roster = roster.append(r)


		#
		# Load the activity report
		#
		fileName = f"{activityFileBase} {date}.csv"
		filePath = Path(dataDirectory, fileName)
		a = pd.read_csv(filePath, usecols=activityCols.allCols, parse_dates=activityCols.dateCols, dtype=activityCols.colTypeMap)
		a.info()

		# Fix columns that should contain empty string, not NaN and drop rows that still have NaN
		for n in activityCols.fixnaCols:
			a[n].fillna('')
		a.dropna(inplace=True)

		# Limit to Sea Kayaking and specific activity category
		a = a[ (a["Activity Type"] == "Sea Kayaking") ]
		a = a[ a["Activity Category"].isin(activityTypeList) ]
		if activity is None:
			activity = a
		else:
			activity = activity.append(a)

		

	# Set paddler type and full name field for easier cross reference.
	roster["Paddler Type"] = paddlerType
	roster["Full Name"] = roster["First Name"] + " " + roster["Last Name"]
	activity["Full Name"] = activity["First Name"] + " " + activity["Last Name"]

	print ("Roster before return")
	roster.info()

	return (roster, activity)

(basicRoster, basicActivity) = LoadData(DataDirectory, BasicRosterFileBase, RosterFile, BasicActivityFileBase, ActivityFile, "Basic", BasicDates, ActivityTypeList)
#basicRoster.to_csv("BasicRoster.csv")
#basicActivity.to_csv("BasicActivity.csv")
(equivRoster, equivActivity) = LoadData(DataDirectory, EquivRosterFileBase, RosterFile, EquivActivityFileBase, ActivityFile, "Equivlency", EquivDates, ActivityTypeList)
#equivRoster.to_csv("EquivRoster.csv")
#equivActivity.to_csv("EquivActivity.csv")

++++ Seattle Basic 2015.csv ++++
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   First Name           44 non-null     object
 1   Last Name            44 non-null     object
 2   Email                44 non-null     object
 3   Registration Status  44 non-null     object
 4   Course Position      44 non-null     object
 5   Graduation Date      32 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 2.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 12 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   First Name                                916 non-null    object
 1   Last Name                                 916 non-null    object
 2   Email                                     916 non-null    object
 3   Course Title                              916 non-null    object
 4   Activity Title                            916 non-null    object
 5   Activity Category                         916 non-null    object
 6   Activity Type                             916 non-null    object
 7   Activity Start Date                       916 non-null    datetime64[ns]
 8   Activity End Date                         916 non-null    datetime64[ns]
 9   Activity Result                           844 non-null    object
 10  Activity Participant Registration Status  916 non-null    object
 11  Activity Participant Result               750 non-null    object
dtypes: datetime64[ns](2), object(10)
memory usage: 86.0+ KB
++++ Seattle Basic 2016.csv ++++
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   First Name           43 non-null     object
 1   Last Name            43 non-null     object
 2   Email                43 non-null     object
 3   Registration Status  43 non-null     object
 4   Course Position      43 non-null     object
 5   Graduation Date      35 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 2.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1587 entries, 0 to 1586
Data columns (total 12 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   First Name                                1587 non-null   object
 1   Last Name                                 1587 non-null   object
 2   Email                                     1587 non-null   object
 3   Course Title                              1587 non-null   object
 4   Activity Title                            1587 non-null   object
 5   Activity Category                         1586 non-null   object
 6   Activity Type                             1587 non-null   object
 7   Activity Start Date                       1587 non-null   datetime64[ns]
 8   Activity End Date                         1587 non-null   datetime64[ns]
 9   Activity Result                           1238 non-null   object
 10  Activity Participant Registration Status  1582 non-null   object
 11  Activity Participant Result               983 non-null    object
dtypes: datetime64[ns](2), object(10)
memory usage: 148.9+ KB
++++ Seattle Basic 2017.csv ++++
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   First Name           26 non-null     object
 1   Last Name            26 non-null     object
 2   Email                26 non-null     object
 3   Registration Status  26 non-null     object
 4   Course Position      26 non-null     object
 5   Graduation Date      18 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 1.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1377 entries, 0 to 1376
Data columns (total 12 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   First Name                                1377 non-null   object
 1   Last Name                                 1377 non-null   object
 2   Email                                     1377 non-null   object
 3   Course Title                              1377 non-null   object
 4   Activity Title                            1377 non-null   object
 5   Activity Category                         1377 non-null   object
 6   Activity Type                             1377 non-null   object
 7   Activity Start Date                       1377 non-null   datetime64[ns]
 8   Activity End Date                         1377 non-null   datetime64[ns]
 9   Activity Result                           1258 non-null   object
 10  Activity Participant Registration Status  1377 non-null   object
 11  Activity Participant Result               1200 non-null   object
dtypes: datetime64[ns](2), object(10)
memory usage: 129.2+ KB
++++ Seattle Basic 2018.csv ++++
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   First Name           30 non-null     object
 1   Last Name            30 non-null     object
 2   Email                30 non-null     object
 3   Registration Status  30 non-null     object
 4   Course Position      30 non-null     object
 5   Graduation Date      24 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 1.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1354 entries, 0 to 1353
Data columns (total 12 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   First Name                                1354 non-null   object
 1   Last Name                                 1354 non-null   object
 2   Email                                     1354 non-null   object
 3   Course Title                              1354 non-null   object
 4   Activity Title                            1354 non-null   object
 5   Activity Category                         1354 non-null   object
 6   Activity Type                             1354 non-null   object
 7   Activity Start Date                       1354 non-null   datetime64[ns]
 8   Activity End Date                         1354 non-null   datetime64[ns]
 9   Activity Result                           1235 non-null   object
 10  Activity Participant Registration Status  1354 non-null   object
 11  Activity Participant Result               1185 non-null   object
dtypes: datetime64[ns](2), object(10)
memory usage: 127.1+ KB
++++ Seattle Basic 2019.csv ++++
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   First Name           35 non-null     object
 1   Last Name            35 non-null     object
 2   Email                35 non-null     object
 3   Registration Status  35 non-null     object
 4   Course Position      35 non-null     object
 5   Graduation Date      18 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 1.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1181 entries, 0 to 1180
Data columns (total 12 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   First Name                                1181 non-null   object
 1   Last Name                                 1181 non-null   object
 2   Email                                     1181 non-null   object
 3   Course Title                              1181 non-null   object
 4   Activity Title                            1181 non-null   object
 5   Activity Category                         1181 non-null   object
 6   Activity Type                             1181 non-null   object
 7   Activity Start Date                       1181 non-null   datetime64[ns]
 8   Activity End Date                         1181 non-null   datetime64[ns]
 9   Activity Result                           1076 non-null   object
 10  Activity Participant Registration Status  1181 non-null   object
 11  Activity Participant Result               1045 non-null   object
dtypes: datetime64[ns](2), object(10)
memory usage: 110.8+ KB
++++ Seattle Basic 2021.csv ++++
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   First Name           23 non-null     object
 1   Last Name            23 non-null     object
 2   Email                23 non-null     object
 3   Registration Status  23 non-null     object
 4   Course Position      23 non-null     object
 5   Graduation Date      15 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 1.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 12 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   First Name                                453 non-null    object
 1   Last Name                                 453 non-null    object
 2   Email                                     453 non-null    object
 3   Course Title                              453 non-null    object
 4   Activity Title                            453 non-null    object
 5   Activity Category                         453 non-null    object
 6   Activity Type                             453 non-null    object
 7   Activity Start Date                       453 non-null    datetime64[ns]
 8   Activity End Date                         453 non-null    datetime64[ns]
 9   Activity Result                           393 non-null    object
 10  Activity Participant Registration Status  453 non-null    object
 11  Activity Participant Result               395 non-null    object
dtypes: datetime64[ns](2), object(10)
memory usage: 42.6+ KB
Roster before return
<class 'pandas.core.frame.DataFrame'>
Int64Index: 141 entries, 0 to 20
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   First Name           141 non-null    object
 1   Last Name            141 non-null    object
 2   Email                141 non-null    object
 3   Registration Status  141 non-null    object
 4   Course Position      141 non-null    object
 5   Graduation Date      141 non-null    datetime64[ns]
 6   Paddler Type         141 non-null    object
 7   Full Name            141 non-null    object
dtypes: datetime64[ns](1), object(7)
memory usage: 9.9+ KB
++++ Seattle Equivalency 2015.csv ++++
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   First Name           43 non-null     object
 1   Last Name            43 non-null     object
 2   Email                43 non-null     object
 3   Registration Status  43 non-null     object
 4   Course Position      43 non-null     object
 5   Graduation Date      43 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 2.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2086 entries, 0 to 2085
Data columns (total 12 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   First Name                                2086 non-null   object
 1   Last Name                                 2086 non-null   object
 2   Email                                     2086 non-null   object
 3   Course Title                              2086 non-null   object
 4   Activity Title                            2086 non-null   object
 5   Activity Category                         2085 non-null   object
 6   Activity Type                             2086 non-null   object
 7   Activity Start Date                       2086 non-null   datetime64[ns]
 8   Activity End Date                         2086 non-null   datetime64[ns]
 9   Activity Result                           1866 non-null   object
 10  Activity Participant Registration Status  2085 non-null   object
 11  Activity Participant Result               1695 non-null   object
dtypes: datetime64[ns](2), object(10)
memory usage: 195.7+ KB
++++ Seattle Equivalency 2016.csv ++++
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   First Name           4 non-null      object
 1   Last Name            4 non-null      object
 2   Email                4 non-null      object
 3   Registration Status  4 non-null      object
 4   Course Position      4 non-null      object
 5   Graduation Date      4 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 320.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 12 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   First Name                                204 non-null    object
 1   Last Name                                 204 non-null    object
 2   Email                                     204 non-null    object
 3   Course Title                              204 non-null    object
 4   Activity Title                            204 non-null    object
 5   Activity Category                         204 non-null    object
 6   Activity Type                             204 non-null    object
 7   Activity Start Date                       204 non-null    datetime64[ns]
 8   Activity End Date                         204 non-null    datetime64[ns]
 9   Activity Result                           172 non-null    object
 10  Activity Participant Registration Status  204 non-null    object
 11  Activity Participant Result               175 non-null    object
dtypes: datetime64[ns](2), object(10)
memory usage: 19.2+ KB
++++ Seattle Equivalency 2021.csv ++++
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   First Name           14 non-null     object
 1   Last Name            14 non-null     object
 2   Email                14 non-null     object
 3   Registration Status  14 non-null     object
 4   Course Position      14 non-null     object
 5   Graduation Date      14 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 800.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568 entries, 0 to 567
Data columns (total 12 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   First Name                                568 non-null    object
 1   Last Name                                 568 non-null    object
 2   Email                                     568 non-null    object
 3   Course Title                              568 non-null    object
 4   Activity Title                            568 non-null    object
 5   Activity Category                         568 non-null    object
 6   Activity Type                             568 non-null    object
 7   Activity Start Date                       568 non-null    datetime64[ns]
 8   Activity End Date                         568 non-null    datetime64[ns]
 9   Activity Result                           506 non-null    object
 10  Activity Participant Registration Status  568 non-null    object
 11  Activity Participant Result               485 non-null    object
dtypes: datetime64[ns](2), object(10)
memory usage: 53.4+ KB
Roster before return
<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 0 to 13
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   First Name           61 non-null     object
 1   Last Name            61 non-null     object
 2   Email                61 non-null     object
 3   Registration Status  61 non-null     object
 4   Course Position      61 non-null     object
 5   Graduation Date      61 non-null     datetime64[ns]
 6   Paddler Type         61 non-null     object
 7   Full Name            61 non-null     object
dtypes: datetime64[ns](1), object(7)
memory usage: 4.3+ KB

In [ ]:
# Calculate trip counts for entries on roster
equivRoster["Trip Count"] = equivRoster.apply(lambda row : len(equivActivity.loc[equivActivity['Full Name'] == row['Full Name']]), axis=1)
basicRoster["Trip Count"] = basicRoster.apply(lambda row : len(basicActivity.loc[basicActivity['Full Name'] == row['Full Name']]), axis=1)

In [ ]:
fig, ax = plt.subplots(2,1,sharex=True, figsize=(30,12))
b = max(equivRoster["Trip Count"].max(), basicRoster["Trip Count"].max())
ax[0].hist(equivRoster["Trip Count"], bins=b)
ax[0].set_title("Equivlency Paddlers")
ax[1].hist(basicRoster["Trip Count"], bins=b)
ax[1].set_title("Basic Class Paddlers")

In [ ]:
plt.figure(figsize=(25,10))
b = max(equivRoster["Trip Count"].max(), basicRoster["Trip Count"].max())
plt.hist(basicRoster["Trip Count"], bins=b, alpha=1.0, label="Basic")
plt.hist(equivRoster["Trip Count"], bins=b, alpha=0.7, label="Equivlency")
plt.xlabel("Number of Trips")
plt.xticks(range(0,b,5))
plt.ylabel("Number of Paddlers")
plt.legend()

In [ ]:
equivRoster.info()

In [23]:
# def groupYear(x: pd.Timestamp):
# 	if isinstance (x, pd.Timestamp):
# 		print (x.year)
# 		return x.year
# 	return None
#by = bs.groupby(groupYear).sum()

bs = pd.Series(1,index=basicRoster['Graduation Date'])
by = bs.groupby(pd.Grouper(freq='YS')).sum()

ey = pd.Series(1,index=equivRoster['Graduation Date']).groupby(pd.Grouper(freq='YS')).sum()
ey.to_csv("EquivByYear.csv")
plt.bar(ey["Graduation Date"], ey[1])


# from https://www.tutorialspoint.com/matplotlib/matplotlib_bar_plot.htm
data = [[30, 25, 50, 20],
[40, 23, 51, 17],
[35, 22, 45, 19]]
X = np.arange(4)
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
ax.bar(X + 0.00, data[0], color = 'b', width = 0.25)
ax.bar(X + 0.25, data[1], color = 'g', width = 0.25)
ax.bar(X + 0.50, data[2], color = 'r', width = 0.25)